
body {
    background-color: rgb(241, 208, 146);
    
    min-height: 100vh;
    color: white;
}

.main {
    background-image: url(./assets/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.col {
    height: 100%;
}

.card {
    width: 16rem;
    height: 24rem;
    transition: all 2s ease-in-out;
}

.text {
   margin-top: 90px;
   text-align: left;
}

.card img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

